<style>
    tr {
        text-align: center;
    }

    @* tr:nth-child(odd) {
        background-color: #a0a6acc2;
    } *@

    tr td {
        text-align: center !important;
    }
</style>

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>مشاهده و شارژ کیف پول  
                            <small>پنل مدیریت چندکاره</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">مشاهده و شارژ کیف پول</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-12 xl-100">
        <div class="card">

            <div class="card-body">
                <div class="user-status table-responsive latest-order-table">
                    <table class="table table-bordernone">
                        <thead>
                            <tr>
                            
                                <td scope="col">نام و نام خانوادگی</td>
                                <td scope="col">شماره تماس</td>
                                <td scope="col">موجودی کیف پول</td>
                                <td scope="col">شارژ کیف پول </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                <td class="font-danger">مینا راثی</td>
                                <td class="digits"> 09199519891</td>
                                <td class="digits"> 35000</td>
                                <td class="digits"> 
                                    
                                     <a href="" class="btn btn-warning">شارژ حساب</a>
                                </td>
                            </tr>
                        </tbody>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends-->

</div>









