<style>
    th, td, tr {
        padding: 5px;
        text-align: center !important;
    }
</style>
        <div class="page-body " >

           

 <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>داشبورد
                                    
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item active">داشبورد</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>




                 
                    <div class="col-xl-12 xl-100 mt-7">
                        
                        <div class="card">
                            <div class="card-header">
                          <h5 class="text-center">  دسته  @ViewBag.catname  </h5>
                           <div class="text-center mt-7 row   ">


                           @* add car to categoris *@

                            <form action="/admin/home/addcar" method="post" class="col-12">
                                   <div class="row justify-content-center  p-3" >

                                            <div class="col-xxl-6 col-lg-6 col-xl-6 col-md-6 col-12">
                                                <input name="CatName" class="form-control" type="text" placeholder=" نام خودرو رو وارد کنید  "  required>
                                            

                                            </div>

                                            <div class="col-xxl-2 col-lg-2 col-xl-2 col-md-2 col-12 mt-1 ">
                                                <button type="submit" class="btn btn-primary form-control"> اضافه کردن </button>

                                            </div>

                                    </div>
                               </form>
                                      

                       @* create table show list car row  car name  and edit and delete *@

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th>نام خودرو</th>
                                            <th>ویرایش</th>
                                            <th>حذف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.listcars)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.CatName</td>
                                                <td><a href="/" class="btn btn-primary">ویرایش</a></td>
                                                <td><a href="/" class="btn btn-danger">حذف</a></td>
                                            </tr>
                                        }

                                    </tbody>

                                </table>

                            </div>


                           
                           

                     </div>

                            </div>
                        </div>
                        
                    </div>

  