@model Price;
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>داشبورد</h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item active">داشبورد</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 xl-100 mt-7">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">دسته @ViewBag.catname</h5>
                    <br>
                    <br>
                    <div class="text-center mt-7 row">
                        <form asp-action="ServiceUpdate" method="post" class="col-12">    
                            <input type="hidden" asp-for="carId">
                            <!-- Service 1 to 4 -->
                            <div class="form-group row">
                                <label for="service1" class="col-sm-1 col-form-label">موتور کامل:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="motorKamel" >
                                </div>
                                <label for="service2" class="col-sm-1 col-form-label">بلوک سیلندر:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="blokSilandr" >
                                </div>
                                <label for="service3" class="col-sm-1 col-form-label">سیلندر</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="silandr" >
                                </div>
                                <label for="service4" class="col-sm-1 col-form-label">سر سیلندر</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="sarSilandr" >
                                </div>
                            </div>
                            <!-- Service 5 to 8 -->
                            <div class="form-group row">
                                <label for="service5" class="col-sm-1 col-form-label">بوش سیلندر:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="boshSilandr" >
                                </div>
                                <label for="service6" class="col-sm-1 col-form-label">واتر پمپ:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="waterPump" >
                                </div>
                                <label for="service7" class="col-sm-1 col-form-label">پیچ کارتر:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="pichKarter" >
                                </div>
                                <label for="service8" class="col-sm-1 col-form-label">کارتر:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="karter" >
                                </div>
                            </div>
                            <!-- Service 9 to 12 -->
                            <div class="form-group row">
                                <label for="service9" class="col-sm-1 col-form-label">میل لنگ:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="millang">
                                </div>
                                <label for="service10" class="col-sm-1 col-form-label">رینگ پیستون:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="ringPiston">
                                </div>
                                <label for="service11" class="col-sm-1 col-form-label">پیستون:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="piston" >
                                </div>
                                <label for="service12" class="col-sm-1 col-form-label">فنر سوپاپ:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="fanarSopap" >
                                </div>
                            </div>
                            <!-- Service 13 to 16 -->
                            <div class="form-group row">
                                <label for="service13" class="col-sm-1 col-form-label">شاتون:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="shaton" >
                                </div>
                                <label for="service14" class="col-sm-1 col-form-label">فلایول:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="flayol" >
                                </div>
                                <label for="service15" class="col-sm-1 col-form-label">میل سوپاپ یا میل بادامک:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="milSopap" >
                                </div>
                                <label for="service16" class="col-sm-1 col-form-label">سوپاپ:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="sopap" >
                                </div>
                            </div>
                            <!-- Service 17 to 20 -->
                            <div class="form-group row">
                                <label for="service17" class="col-sm-1 col-form-label">سوپاپ PVC:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="sopapPVC" >
                                </div>
                                <label for="service18" class="col-sm-1 col-form-label">موتور استارت:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="motorStart">
                                </div>
                                <label for="service19" class="col-sm-1 col-form-label">سوپر شارژر:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="superCharger" >
                                </div>
                                <label for="service20" class="col-sm-1 col-form-label">توربو شارژ:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="turboCharger" >
                                </div>
                            </div>
                            <!-- Service 21 to 24 -->
                            <div class="form-group row">
                                <label for="service21" class="col-sm-1 col-form-label">پمپ روغن:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="pumproghan" >
                                </div>
                                <label for="service22" class="col-sm-1 col-form-label">منیفولد:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="manifold" >
                                </div>
                                <label for="service23" class="col-sm-1 col-form-label">هدرز:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="headers" >
                                </div>
                                <label for="service24" class="col-sm-1 col-form-label">هیدرولیک</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="hydrolic" >
                                </div>
                            </div>
                            <!-- Service 25 to 28 -->
                            <div class="form-group row">
                                <label for="service25" class="col-sm-1 col-form-label">کمپرسور کولر:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="compersorColer" >
                                </div>
                                <label for="service26" class="col-sm-1 col-form-label">جعبه فرمان:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="jabeFarman">
                                </div>
                                <label for="service27" class="col-sm-1 col-form-label">رادیاتور:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="radiator" >
                                </div>
                                <label for="service28" class="col-sm-1 col-form-label">کاربراتور:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="carbirator" >
                                </div>
                            </div>
                            <!-- Service 29 to 32 -->
                            <div class="form-group row">
                                <label for="service29" class="col-sm-1 col-form-label">رینگ چرخ:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="ring">
                                </div>
                                <label for="service30" class="col-sm-1 col-form-label">سگ دست:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="sagDast" >
                                </div>
                                <label for="service31" class="col-sm-1 col-form-label">کاسه چرخ:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="kaseCharkh" >
                                </div>
                                <label for="service32" class="col-sm-1 col-form-label">فنر:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="fanar" >
                                </div>
                            </div>
                            <!-- Service 33 to 36 -->
                            <div class="form-group row">
                                <label for="service33" class="col-sm-1 col-form-label">کمک فنر:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="komakfanar" >
                                </div>
                                <label for="service34" class="col-sm-1 col-form-label">قطعات پلاستیکی موتور:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="plasticMotor">
                                </div>
                                <label for="service35" class="col-sm-1 col-form-label">سایر قطعات موتوری:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="sayerMotor">
                                </div>
                                <label for="service36" class="col-sm-1 col-form-label">سایر قطعات زیربندی:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="sayerZir" >
                                </div>
                            </div>
                            <!-- Service 37 to 40 -->
                            <div class="form-group row">
                                <label for="service37" class="col-sm-1 col-form-label">گیربکس اتوماتیک:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="gearboxAuto" >
                                </div>
                                <label for="service38" class="col-sm-1 col-form-label">گیربکس دستی:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="gearboxManual">
                                </div>
                                <label for="service39" class="col-sm-1 col-form-label">صفحه کلاچ:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="safeCluch" >
                                </div>
                                <label for="service40" class="col-sm-1 col-form-label">میل ماهک:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="milMahak">
                                </div>
                            </div>
                            <!-- Service 41 to 44 -->
                            <div class="form-group row">
                                <label for="service41" class="col-sm-1 col-form-label">کشویی دنده یا سنکرونایز:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="keshoie" >
                                </div>
                                <label for="service42" class="col-sm-1 col-form-label">شافت ورودی:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="shafetVorodi" >
                                </div>
                                <label for="service43" class="col-sm-1 col-form-label">شافت خروجی:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="shafetKharoji" >
                                </div>
                                <label for="service44" class="col-sm-1 col-form-label">چرخ دنده ها:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="charkhDande" >
                                </div>
                            </div>
                            <!-- Service 45 and 46 -->
                            <div class="form-group row">
                                <label for="service45" class="col-sm-1 col-form-label">بلبرینگ:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="bolboring">
                                </div>
                                <label for="service46" class="col-sm-1 col-form-label">هوزینگ و پوسته:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="hozing">
                                </div>
                                <label for="service47" class="col-sm-1 col-form-label">میل گاردن:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" asp-for="milGarden">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary">بروزرسانی</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

