<style>
 p{
  text-align: justify;
    line-height: 30px;
    padding: 5px;
 }
    
  </style>
<div class="page-content-wrapper py-3">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="about-content-wrap">
          <img class="mb-3" src="/img/core-img/logo-small.png" alt="اسیدشویی">
          <h4>اپلیکیشن اسیدشویی آنلاین</h4>
          <p>سرویس آنلاین اسیدشویی قطعات برای تعمیرکاران</p>
          <p style="text-aligin:Justify">اپلیکیشن اسیدشویی آنلاین با هدف تسهیل فرآیند اسیدشویی قطعات برای تعمیرکاران در سال 1402 راه‌اندازی شد. ایده اصلی ما این بود که چگونه می‌توانیم زمان و هزینه‌های تعمیرکاران را کاهش دهیم و کیفیت خدمات اسیدشویی را افزایش دهیم. اهداف این اپلیکیشن:</p>
          <ul class="mb-3 ps-3">
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>کاهش زمان انتظار برای اسیدشویی قطعات</li>
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>ارائه بهترین قیمت‌ها برای خدمات اسیدشویی</li>
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>تضمین کیفیت بالای خدمات اسیدشویی</li>
          </ul>
          <p>نحوه کار اپلیکیشن:</p>
          <ul class="mb-3 ps-3">
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>ثبت درخواست اسیدشویی توسط تعمیرکار</li>
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>ارسال پیک برای دریافت قطعه</li>
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>انجام فرآیند اسیدشویی در کوتاه‌ترین زمان ممکن</li>
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>تحویل قطعه اسیدشویی شده به تعمیرکار</li>
          </ul>
          <p>راه‌های ارتباطی:</p>
          <ul class="mb-3 ps-3">
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>شماره تماس و واتساپ: 09390916408</li>
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>شماره تماس : 09130495923</li>
            <li class="ps-2"><i class="fa-solid fa-check me-1"></i>آی دی اینستاگرام: @@acid_wash_app</li>
          </ul>
          
          <form action="/home/send" method="post">
            <div class="contact-btn-wrap text-center">
              <p class="mb-2">برای کسب اطلاعات بیشتر، ثبت شکایات، نظرات و پیشنهادات، لطفا فرم زیر را پر کنید:</p>
              <div class="form-group">
                <div class="p-3">
                  <input required type="email" placeholder="آدرس ایمیل" class="form-control">
                  <input required type="text" placeholder="موضوع" class="form-control mt-1">
                  <textarea required name="message" id="message" cols="30" rows="10" class="form-control" placeholder="پیام شما"></textarea>
                  <button type="submit" class="btn btn-primary mt-3">ارسال پیام</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>