<div class="page-content-wrapper py-3">
    <div class="container">
        <div class="p-7">
            <p class="alert alert-success p-3 ">ارسال با موفقیت انجام شد</p>

        </div>
    </div>
</div>